<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.linyh.apy.mapper.CreditProductsMapper">

    <resultMap id="BaseResultMap" type="xyz.linyh.model.pay.eneity.CreditProducts">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DOUBLE"/>
            <result property="integral" column="integral" jdbcType="INTEGER"/>
            <result property="picture" column="picture" jdbcType="VARCHAR"/>
            <result property="discountPrice" column="discountPrice" jdbcType="DOUBLE"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,description,price,
        integral,picture,discountPrice,
        createTime,updateTime,isDelete
    </sql>
</mapper>
